@import 'shared/colors';
@import 'shared/media-queries';
@import 'shared/mixins';
@import 'shared/typeography';

@import 'global/reset';
@import 'global/app';

@import 'components/button';
@import 'components/filter';
@import 'components/loader';
@import 'components/page';
@import 'components/rating';
@import 'components/result';
@import 'components/results';
@import 'components/search-bar';
