.filter {
  float: left;
  width: 100%;
  overflow: scroll;
  margin-bottom: 24px;

  @include mq-tablet {
    border-right: 1px solid $color-mercury;
    width: 182px;
    max-height: 430px;
    margin-bottom: 0;
  };

  &__header {
    @include type-paragraph;
    padding: 14px 0;
    border-bottom: 1px solid $color-mercury;
    text-align: center;
    user-select: none;

    &:after {
      content: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 129 129"><g><path d="m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z"/></g></svg>');
      display: inline-block;
      top: 2px;
      position: relative;
      margin: 0px 0 0 4px;
      width: 16px;
      height: 14px;
      cursor: pointer;
    }

    &.filter__header--open {
      &:after {
        top: 5px;
        transform: rotateX(180deg);
      }
    }

    @include mq-tablet {
      display: none
    };
  }

  &__header-text {
    display: inline-block;
    pointer-events: none;
    cursor: pointer;
  }

  &__container {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 2s ease-out;

    @include mq-tablet {
      max-height: none;
      overflow: auto;
    };

    &--open {
      max-height: 800px;

      @include mq-tablet {
        max-height: none;
        overflow: auto;
      };
    }
  }

  &__section {
    @include clearfix;
    padding-top: 24px;

    @include mq-tablet {
      margin-right: 22px
    };

    &:last-child {
      padding-bottom: 26px;
    }
  }

  &__title {
    @include type-paragraph;
    display: block;
    float: left;
    width: 100%;
    margin-bottom: 12px;
    color: $color-mine-shaft;
    font-weight: 600;
  }

  &__label {
    float: left;
    width: 100%;
    padding: 4px 10px;
    margin-bottom: 1px;
    border-radius: 3px;
    cursor: pointer;
    user-select: none;

    &--active,
    &:hover {
      background-color: $color-curious-blue;
    }

    &--active {
      cursor: default;
    }

    @include mq-tablet {
      padding: 0 10px;
    };
  }

  &__label-text {
    @include type-label;
    float: left;
    color: $color-black;
    pointer-events: none;

    .filter__label--active &,
    .filter__label:hover & {
      color: $color-white
    }
  }

  &__label-number {
    @include type-label;
    float: right;
    color: $color-sliver-chalice;
    pointer-events: none;

    .filter__label--active &,
    .filter__label:hover & {
      color: $color-white
    }
  }
}
