.filter {
  float: left;
  width: 100%;
  overflow: scroll;

  @include mq-tablet {
    border-right: 1px solid $color-mercury;
    width: 182px;
    max-height: 430px;
  };

  &__section {
    @include clearfix;
    padding-top: 26px;

    @include mq-tablet {
      margin-right: 22px
    };
  }

  &__title {
    @include type-paragraph;
    display: block;
    float: left;
    width: 100%;
    margin-bottom: 12px;
    color: $color-mine-shaft;
  }

  &__label {
    float: left;
    width: 100%;
    padding: 0 10px;
    margin-bottom: 1px;
    border-radius: 3px;
    cursor: pointer;

    &--active,
    &:hover {
      background-color: $color-curious-blue;
    }

    &--active {
      cursor: default;
    }
  }

  &__label-text {
    @include type-label;
    float: left;
    color: $color-black;
    pointer-events: none;

    .filter__label--active &,
    .filter__label:hover & {
      color: $color-white
    }
  }

  &__label-number {
    @include type-label;
    float: right;
    color: $color-sliver-chalice;
    pointer-events: none;

    .filter__label--active &,
    .filter__label:hover & {
      color: $color-white
    }
  }
}
