.page {
  width: 100%;
  height: 100vh;
  background: url('../images/background.png');
  background-color: $color-alto;

  @include mq-high-res {
    background: url('../images/background_@2X.png');
    background-size: 46px 29px;
  }

  &__container {
    @include absolute-center;
    display: flex;
    width: 100%;
    flex-flow: column;
    align-items: stretch;
    background: $color-white;
    border: 1px solid $color-sliver;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.20);

    @include mq-tablet {
      width: 94%;
      height: 94vh;
      max-width: 820px;
      max-height: 520px;
    };
  }

  &__search {
    float: left;
    width: 100%;
  }

  &__content {
    float: left;
    width: 100%;
    padding: 0 23px;
    flex: 1 1 auto;
  }
}
