.rating {
  display: inline-block;
  position: relative;
  width: 81px;
  height: 15px;
  background: url('../images/5-stars-empty.png');
  cursor: pointer;

  .filter__section--active & {
    opacity: 0.4
  }

  @for $i from 1 through 10 {
    &--#{($i)} {
      &:before {
        content: url('../images/5-stars-full.png');
        position: absolute;
        overflow: hidden;
        top: 0;
        left: 0;
        height: 15px;
        width: ($i * 8.25px);
      }
    }
  }

  &--active {
    opacity: 1 !important;
  }

  &--sidebar {
    float: left;
    margin: 0 10px 6px 10px;
  }
}
