$color-white: #FFFFFF;
$color-black: #000000;

// Greys
$color-mercury: #E6E6E6;
$color-alto: #DDDDDD;
$color-sliver: #CCCCCC;
$color-nobel: #B3B3B3;
$color-sliver-chalice: #A9A9A9;
$color-gray: #7F7F7F;
$color-mine-shaft: #333333;


// Blues
$color-matisse: #1C688E;
$color-curious-blue: #2897C5;

// Orange
$color-atomic-tangerine: #FFAB66;
