$tablet-min: 768px;
$desktop-min: 1024px;
$high-res: 200dpi;

// Tablet
@mixin mq-tablet {
  @media (min-width: $tablet-min) {
    @content;
  }
}

// Desktop
@mixin mq-desktop {
  @media (min-width: $desktop-min) {
    @content;
  }
}

// High Resolution
@mixin mq-high-res {
  @media only screen and (min-resolution: $high-res){
    @content
  }
}
